In [8]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

browser = Browser('chrome',executable_path = "C:/Users/19105/ChromeDriver",headless=False)

In [ ]:
# NASA Mars News scrape

browser.visit("https://redplanetscience.com/")

html = browser.html
soup = bs(html, "html.parser")

news_title = soup.find('div', class_ = "content_title")
news_teaser = soup.find('div', class_ = "article_teaser_body")

browser.quit()

In [ ]:
news_title.text

In [ ]:
news_teaser.text

In [ ]:
# JPL Mars Space Images scrape

url = "https://spaceimages-mars.com/"
browser.visit(url)

html = browser.html
soup = bs(html, "html.parser")

featured_image_href = soup.find('a', class_ = "showimg fancybox-thumbs") 

browser.quit()

In [ ]:
href = featured_image_href['href']

img_url = url + href

img_url

In [2]:
# Mars Facts table facts scrape

browser.visit("https://galaxyfacts-mars.com")

html = browser.html
soup = bs(html, "html.parser")

scrape_facts = []

table = soup.find("div", class_ = "sidebar")

In [3]:
print(table.prettify())

<div class="sidebar">
 <h5>
  MARS PLANET PROFILE
 </h5>
 <table class="table table-striped">
  <tbody>
   <tr>
    <th scope="row">
     Equatorial Diameter:
    </th>
    <td>
     6,792 km
    </td>
   </tr>
   <tr>
    <th scope="row">
     Polar Diameter:
    </th>
    <td>
     6,752 km
    </td>
   </tr>
   <tr>
    <th scope="row">
     Mass:
    </th>
    <td>
     6.39 × 10^23 kg (0.11 Earths)
    </td>
   </tr>
   <tr>
    <th scope="row">
     Moons:
    </th>
    <td>
     2 (
     <span class="red">
      Phobos
     </span>
     &amp;
     <span class="red">
      Deimos
     </span>
     )
    </td>
   </tr>
   <tr>
    <th scope="row">
     Orbit Distance:
    </th>
    <td>
     227,943,824 km (1.38 AU)
    </td>
   </tr>
   <tr>
    <th scope="row">
     Orbit Period:
    </th>
    <td>
     687 days (1.9 years)
    </td>
   </tr>
   <tr>
    <th scope="row">
     Surface Temperature:
    </th>
    <td>
     -87 to -5 °C
    </td>
   </tr>
   <tr>
    <th scope="row">
     First Record:
    </th>
    <td>
     2nd millennium BC
    </td>
   </tr>
   <tr>
    <th scope="row">
     Recorded By:
    </th>
    <td>
     Egyptian astronomers
    </td>
   </tr>
  </tbody>
 </table>
 <h5 class="mt-5">
  PLANETS
 </h5>
 <div class="col-md-12 mt-3">
  <div class="row">
   <div class="col-md-3">
    <img class="img-fluid mt-2" src="https://space-facts.com/wp-content/uploads/mercury-50x50.png"/>
   </div>
   <div class="col-md-9">
    <p class="mt-2">
     <span class="red">
      Mercury
     </span>
    </p>
   </div>
  </div>
  <div class="row">
   <div class="col-md-3">
    <img class="img-fluid mt-4" src="https://space-facts.com/wp-content/uploads/venus-50x50.png"/>
   </div>
   <div class="col-md-9">
    <p class="mt-4">
     <span class="red">
      Venus
     </span>
    </p>
   </div>
  </div>
  <div class="row">
   <div class="col-md-3">
    <img class="img-fluid mt-4" src="https://space-facts.com/wp-content/uploads/earth-50x50.png"/>
   </div>
   <div class="col-md-9">
    <p class="mt-4">
     <span class="red">
      Earth
     </span>
    </p>
   </div>
  </div>
  <div class="row">
   <div class="col-md-3">
    <img class="img-fluid mt-4" src="https://space-facts.com/wp-content/uploads/mars-50x50.jpg"/>
   </div>
   <div class="col-md-9">
    <p class="mt-4">
     <span class="red">
      Mars
     </span>
    </p>
   </div>
  </div>
  <div class="row">
   <div class="col-md-3">
    <img class="img-fluid mt-4" src="https://space-facts.com/wp-content/uploads/jupiter-50x50.png"/>
   </div>
   <div class="col-md-9">
    <p class="mt-4">
     <span class="red">
      Jupiter
     </span>
    </p>
   </div>
  </div>
  <div class="row">
   <div class="col-md-3">
    <img class="img-fluid mt-4" src="https://space-facts.com/wp-content/uploads/saturn-50x50.png"/>
   </div>
   <div class="col-md-9">
    <p class="mt-4">
     <span class="red">
      Saturn
     </span>
    </p>
   </div>
  </div>
  <div class="row">
   <div class="col-md-3">
    <img class="img-fluid mt-4" src="https://space-facts.com/wp-content/uploads/uranus-50x50.jpg"/>
   </div>
   <div class="col-md-9">
    <p class="mt-4">
     <span class="red">
      Saturn
     </span>
    </p>
   </div>
  </div>
  <div class="row">
   <div class="col-md-3">
    <img class="img-fluid mt-4" src="https://space-facts.com/wp-content/uploads/neptune-50x50.png"/>
   </div>
   <div class="col-md-9">
    <p class="mt-4">
     <span class="red">
      Neptune
     </span>
    </p>
   </div>
  </div>
 </div>
</div>

In [4]:
facts = table.find_all("tr")
facts

[<tr>
 <th scope="row">Equatorial Diameter:</th>
 <td>6,792 km</td>
 </tr>,
 <tr>
 <th scope="row">Polar Diameter:</th>
 <td>6,752 km</td>
 </tr>,
 <tr>
 <th scope="row">Mass:</th>
 <td>	6.39 × 10^23 kg (0.11 Earths)</td>
 </tr>,
 <tr>
 <th scope="row">Moons:</th>
 <td>	2 ( <span class="red">Phobos </span> &amp; <span class="red"> Deimos </span>)</td>
 </tr>,
 <tr>
 <th scope="row">Orbit Distance:</th>
 <td>	227,943,824 km (1.38 AU)</td>
 </tr>,
 <tr>
 <th scope="row">Orbit Period:</th>
 <td>	687 days (1.9 years)</td>
 </tr>,
 <tr>
 <th scope="row">Surface Temperature:</th>
 <td>	-87 to -5 °C</td>
 </tr>,
 <tr>
 <th scope="row">First Record:</th>
 <td>	2nd millennium BC</td>
 </tr>,
 <tr>
 <th scope="row">Recorded By:</th>
 <td>	Egyptian astronomers</td>
 </tr>]

In [5]:
for fact in facts:
    scrape_facts.append({fact.th.text : fact.td.text.strip()})

In [6]:
scrape_facts

[{'Equatorial Diameter:': '6,792 km'},
 {'Polar Diameter:': '6,752 km'},
 {'Mass:': '6.39 × 10^23 kg (0.11 Earths)'},
 {'Moons:': '2 ( Phobos  &  Deimos )'},
 {'Orbit Distance:': '227,943,824 km (1.38 AU)'},
 {'Orbit Period:': '687 days (1.9 years)'},
 {'Surface Temperature:': '-87 to -5 °C'},
 {'First Record:': '2nd millennium BC'},
 {'Recorded By:': 'Egyptian astronomers'}]

In [9]:
pd.DataFrame(scrape_facts)

,Equatorial Diameter:,Polar Diameter:,Mass:,Moons:,Orbit Distance:,Orbit Period:,Surface Temperature:,First Record:,Recorded By:
0,"6,792 km",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"6,752 km",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,6.39 × 10^23 kg (0.11 Earths),NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,2 ( Phobos & Deimos ),NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,"227,943,824 km (1.38 AU)",NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,687 days (1.9 years),NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,-87 to -5 °C,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2nd millennium BC,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Egyptian astronomers