In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

browser = Browser('chrome',executable_path = "C:/Users/19105/ChromeDriver",headless=False)

In [2]:
# NASA Mars News scrape

browser.visit("https://redplanetscience.com/")

html = browser.html
soup = bs(html, "html.parser")

news_title = soup.find('div', class_ = "content_title")
news_teaser = soup.find('div', class_ = "article_teaser_body")

# browser.quit()

In [3]:
news_title.text

"Air Deliveries Bring NASA's Perseverance Mars Rover Closer to Launch"

In [4]:
news_teaser.text

"A NASA Wallops Flight Facility cargo plane transported more than two tons of equipment — including the rover's sample collection tubes — to Florida for this summer's liftoff."

In [5]:
# JPL Mars Space Images scrape

url = "https://spaceimages-mars.com/"
browser.visit(url)

html = browser.html
soup = bs(html, "html.parser")

featured_image_href = soup.find('a', class_ = "showimg fancybox-thumbs") 

# browser.quit()

In [6]:
href = featured_image_href['href']

img_url = url + href

img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [7]:
# Mars Facts table facts scrape

browser.visit("https://galaxyfacts-mars.com")

html = browser.html
soup = bs(html, "html.parser")

scrape_facts = []

table = soup.find("div", class_ = "sidebar")

# browser.quit()

In [8]:
# print(table.prettify())

In [9]:
facts = table.find_all("tr")
facts

[<tr>
 <th scope="row">Equatorial Diameter:</th>
 <td>6,792 km</td>
 </tr>,
 <tr>
 <th scope="row">Polar Diameter:</th>
 <td>6,752 km</td>
 </tr>,
 <tr>
 <th scope="row">Mass:</th>
 <td>	6.39 × 10^23 kg (0.11 Earths)</td>
 </tr>,
 <tr>
 <th scope="row">Moons:</th>
 <td>	2 ( <span class="red">Phobos </span> &amp; <span class="red"> Deimos </span>)</td>
 </tr>,
 <tr>
 <th scope="row">Orbit Distance:</th>
 <td>	227,943,824 km (1.38 AU)</td>
 </tr>,
 <tr>
 <th scope="row">Orbit Period:</th>
 <td>	687 days (1.9 years)</td>
 </tr>,
 <tr>
 <th scope="row">Surface Temperature:</th>
 <td>	-87 to -5 °C</td>
 </tr>,
 <tr>
 <th scope="row">First Record:</th>
 <td>	2nd millennium BC</td>
 </tr>,
 <tr>
 <th scope="row">Recorded By:</th>
 <td>	Egyptian astronomers</td>
 </tr>]

In [10]:
for fact in facts:
    scrape_facts.append({"category":fact.th.text, "data":fact.td.text.strip()})

In [11]:
scrape_facts

[{'category': 'Equatorial Diameter:', 'data': '6,792 km'},
 {'category': 'Polar Diameter:', 'data': '6,752 km'},
 {'category': 'Mass:', 'data': '6.39 × 10^23 kg (0.11 Earths)'},
 {'category': 'Moons:', 'data': '2 ( Phobos  &  Deimos )'},
 {'category': 'Orbit Distance:', 'data': '227,943,824 km (1.38 AU)'},
 {'category': 'Orbit Period:', 'data': '687 days (1.9 years)'},
 {'category': 'Surface Temperature:', 'data': '-87 to -5 °C'},
 {'category': 'First Record:', 'data': '2nd millennium BC'},
 {'category': 'Recorded By:', 'data': 'Egyptian astronomers'}]

In [12]:
scrape_facts_df = pd.DataFrame(scrape_facts)
pd.DataFrame(scrape_facts)

               category                           data
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:        2 ( Phobos  &  Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [13]:
scrape_facts_html = scrape_facts_df.to_html(header=False)
scrape_facts_html

'<table border="1" class="dataframe">\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 ( Phobos  &amp;  Deimos )</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [14]:
# Mars Hemispheres images scrape
url = "https://marshemispheres.com/"
browser.visit(url)

html = browser.html
soup = bs(html, "html.parser")

collapsible = soup.find("div", class_ = "collapsible results")

In [15]:
# print(collapsible.prettify())

In [16]:
h3_clean = []

h3 = collapsible.find_all("h3")
for item in h3:
    h3_clean.append(item.text.strip())
    
h3_clean

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [17]:
full_url_list = []

for item in h3_clean:
    browser.links.find_by_partial_text(item).click()

    html_2 = browser.html
    soup_2 = bs(html_2, "html.parser")

    downloads = soup_2.find("div", class_ = "downloads")
    
    img_anchor = downloads.find("a")
    href = img_anchor['href']
    #href
    
    full_url = url + href
    #full_url
    
    full_url_list.append(full_url)
    
    browser.back()

browser.quit()

In [18]:
# html_2 = browser.html
# soup_2 = bs(html_2, "html.parser")

# downloads = soup_2.find("div", class_ = "downloads")
# print(downloads.prettify())

In [19]:
# img_anchor = downloads.find("a")
# href = img_anchor['href']
# href

In [20]:
# full_url = url + href
# full_url

In [21]:
full_url_list

['https://marshemispheres.com/images/full.jpg',
 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg']

In [22]:
mars_hemi_dict = []

hemisphere_list = []

for item in h3_clean:
    item = item.replace(' Enhanced','')
    hemisphere_list.append(item)

loop = 0

for item in hemisphere_list:
    
    mars_hemi_dict.append({"title":item, "img_url":full_url_list[loop]})
    loop += 1

mars_hemi_dict

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]